# Ignore compiled files and build directories
*.o
/out/
/chapter*/out/*

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore main executables in each chapter
/chapter*/_example/out/*

# Ignore example build directories
/**/_example/out/*

# Ignore Exercise build directorys
/chapter*/_Exercise/out/*
chapter*/_Excercise/Exercise/out/*

# Ignore VS Code shit
.vscode

# Ignore my notes folder
Notes/

temp/
